@charset "UTF-8";
/*Componente*/
/*Variables de textos*/
/*Variables del tamaño de la imagen*/
/*Variable de colores de bt en cards*/
/*Pages styles import*/
.about_us {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about_us_img {
    width: 300px; }

@media screen and (min-width: 768px) {
  .carousel {
    width: 75%; }
  .about_us {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about_us_img {
    width: 400px;
    padding: 5px; } }

@media screen and (min-width: 1024px) {
  .carousel {
    width: 40%; }
  .footer_img {
    width: 20%; } }

/*celular*/
.cursos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*desktop*/
@media screen and (min-width: 1024px) {
  .cursos_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

.imagen_galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1px; }
  .imagen_galeria .img {
    width: 300px; }

/*celular*/
.main_principal_product {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .main_principal_product .card {
    padding: 0;
    margin-left: 20px; }
    .main_principal_product .card .card_yellow {
      background-color: #fffec4;
      font-family: "Kanit", sans-serif;
      color: #000000; }
    .main_principal_product .card .card_pink {
      background-color: #ffe1ee;
      font-family: "Kanit", sans-serif;
      color: #000000; }
    .main_principal_product .card .boton_yellow {
      background-color: #fffec4;
      font-family: "Kanit", sans-serif;
      color: #000000;
      border: black 1px solid; }
    .main_principal_product .card .boton_pink {
      background-color: #ffe1ee;
      font-family: "Kanit", sans-serif;
      color: #000000;
      border: black 1px solid; }

/*tablet*/
@media screen and (min-width: 768px) {
  .main_principal_product {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .main_principal_product {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
    .main_principal_product .card {
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }
      .main_principal_product .card:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-1.5%); } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form .contact-form {
    font-family: "Kanit", sans-serif; }
    .form .contact-form .mws {
      max-width: 800px; }
  .form input,
  .form textarea {
    background-color: #ffe1ee;
    border: none; }
  .form .boton2 {
    background-color: #ffe1ee; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*celular*/
.main_header {
  background: #ffdfe7;
  background: linear-gradient(180deg, #ffdfe7 0%, white 100%);
  list-style-type: none;
  font-family: "Poppins", Sans-serif;
  color: black; }
  .main_header .navbar-brand {
    width: 50%; }
  .main_header .head_logo_img {
    width: 60%; }
  .main_header li {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s; }
  .main_header li:hover,
  .main_header li:focus {
    background-size: 100% 2px; }

.main_principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main_title {
  text-align: center;
  font-family: "Dancing Script", cursiva;
  color: black;
  padding: 10px; }

.imagen {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px; }

.main_text {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: black;
  line-height: 1.5;
  width: 100%; }

footer {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffdfe7;
  background: linear-gradient(0deg, #ffdfe7 0%, white 100%);
  font-family: "Poppins", Sans-serif;
  color: black; }
  footer .footer_img {
    width: 40%; }

.whatsapp {
  text-decoration: none;
  color: black; }

@media screen and (min-width: 768px) {
  footer .footer_img {
    width: 25%; } }
