.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_items {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px;
        font-family: $font-text;
    }
}