.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-form {
        font-family: $font-text;
            .mws {
                max-width: 800px;
            }
        }
        input,
        textarea {
            background-color: $bgpink;
            border: none;
        }
}
