.about_us {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_img {
        width: $img_medium;
        padding-bottom: 10px;
    }
}
@media screen and (min-width: 768px) {
    .carousel {
        width: 75%;
    }
    .about_us {
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_us_img {
        width: $img_big;
        padding: 5px;
    }
}
@media screen and (min-width: 1024px) {
    .carousel {
        width: 40%;
    }
    .footer_img {
        width: 20%
    }

}