/*Variables de textos*/
$font-title: 'Dancing Script', cursiva;
$font-text: 'Kanit', sans-serif;
$font-nav-footer: "Poppins",Sans-serif;

/*Variables del tamaño de la imagen*/
$img_big: 400px;
$img_medium: 300px;

/*Variable de colores de bt en cards*/
$bgpink: #ffe1ee; 
$bgyellow-cake: #fffec4;
$tex-color: #000000;
